@import "tailwindcss";

:root {
  --neon-green: #2AF598; 
  --dark-bg: #02050A;
}

body {
  background-color: var(--dark-bg);
  color: white;
  background-image: radial-gradient(circle at 50% 0%, #112240 0%, #02050A 50%);
}

.glow-text {
  text-shadow: 0 0 20px rgba(42, 245, 152, 0.5);
}